/*
 Shamelessly stolen from "Here, There, and Everywhere",
 including but not limited to "bootstrap", "stack overflow", 
 "Mike Dane", "w3schools", et al.
 */

.backclass {
    background-image:url(/assets/images/default.png)
}

.plainclass {
    color: white;
    background-color: black;
}

.plainclass1 {
    coloe: white;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    line-height: 110%;
}

.container {
    max-width: 70%;
    margin: 0 auto;
    font-size: 0.9em;
    text-align: justify;
}

.container a {
    color: #aaaaaa
}

.container a:hover {
    color: #111111;
}

.row {
}

.column {
    float: left;
    display: inline-block;
    background-color: #bcbcbc;
    height: 130px;
    width: 100%;
    padding: 10px;
    text-align: left;
}

.left {
    width: 130px;
}

.right {
    height: 70px;
    width: calc(100% - 200px);
    padding-top: 24px;
    padding-bottom: 0px;
    padding-left: 30px;
    font-size: 1.8em;
    font-weight: bold;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.navbar {
    font-size: 0.8em;
    border-width: 0.1px;
    margin: 0px;
}

.navbar ul li {
    display: inline-block;
    background-color: rgb(0, 0, 50);
    padding: 12px;
}

.navbar ul li a {
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: rgb(200, 200, 255);
    font-size: 1.1em;
    font-weight: bold;
}

pre {
    border:           1px solid hsla(0,    50%,   20%, 1);
    background-color: rgba(0, 0, 0, 1);
    padding:          10px;
    font-size:        16px;
    color:            rgb(255, 255, 255);
    border-radius:    2px;
    word-wrap:        normal;
    overflow:         auto;
    overflow-y:       hidden;
}

/*
  ZCZC
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px; 
  color: #b5e853;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 2px;
  word-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
  max-width: 65%;

 */

/*
 ************************************************************
 */

@media screen and (max-width:768px) {
    ul {
        margin: 0;
        padding: 0;
    }

    #navbar ul li {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    #navbar ul li a {
        margin: 0;
        padding: 0;
    }

    #menu {
        display: none;
    }

    #maincontent {
        width: 100%;
        padding: 0;
    }

    h1 {
        font-size: 1em;
    }
}
  
/*
 ************************************************************
 */
  